table { 
    width: 50%; 
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
  background-color: #f3e4e4;
 } 
th, td { 
    border: 1px solid #b79a9a; 
    padding: 10px; 
    text-align: center; } 
th { background-color: #c6a1a1; }

body {
    background-color: lightblue;
    padding: 50px 150px;
    margin: 100px;
  }
  
  h1, h2 {
    color: rgb(6, 6, 28);
    width: 50%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(224, 237, 242)
  }
  html {
    background-color: rgb(12, 121, 158);
    
  }